@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-background-sec: #f0eeff;
  --color-foreground: #000000;
  --color-primary: #0047e0;
  --color-accent: #e7004d;
  --color-border: #dedede;
  --color-border-accent: #808080;

  --width-container: 1248px;

  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

.container {
  max-width: var(--width-container) !important;
  margin-left: auto !important;
  margin-right: auto !important;
  height: auto !important;
  padding-inline: 1rem !important;
}

.button {
  display: flex;
  align-items: center;
  grid-gap: 0.25rem;
  position: relative;
  font-weight: 500;
  line-height: 100%;
  padding: 1rem 1.75rem;
  background: var(--color-primary);
  color: var(--color-background);
  cursor: pointer;
  z-index: 1;
  width: fit-content;
  transition: all 0.3s;
}

.button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--color-foreground);
  z-index: -1;
  transition: width 0.3s;
}

.button:hover::before {
  width: 100%;
}
